#  Assignment day 2 - 9/12/2020

# Question  1:Try 5 different functions of the string in python

In [3]:
name = "sumayya desai"

In [2]:
name.index("s")

0

In [4]:
address = "banglore"

In [5]:
address

'banglore'

In [6]:
# concatinate the strings together

In [7]:
name + " " + address

'sumayya desai banglore'

In [8]:
name.split()

['sumayya', 'desai']

In [24]:
name.count('a')

3

In [27]:
address.find('r')

6

In [29]:
address.isalpha()

True

# Question 2: Try 5 differnt functions of the list object in python

In [46]:
lst = [1,2,3,'sumayya','banglore',9.6,5.8]

In [47]:
lst

[1, 2, 3, 'sumayya', 'banglore', 9.6, 5.8]

In [48]:
lst[5]

9.6

In [49]:
lst.append('hello')

In [50]:
lst

[1, 2, 3, 'sumayya', 'banglore', 9.6, 5.8, 'hello']

In [51]:
lst.insert(4,'desai')

In [52]:
lst

[1, 2, 3, 'sumayya', 'desai', 'banglore', 9.6, 5.8, 'hello']

In [55]:
lst.remove(2)

In [56]:
lst

[1, 3, 'sumayya', 'desai', 'banglore', 9.6, 5.8, 'hello']

In [57]:
lst.reverse()

In [58]:
lst

['hello', 5.8, 9.6, 'banglore', 'desai', 'sumayya', 3, 1]

In [59]:
lst.pop(3)

'banglore'

In [60]:
lst

['hello', 5.8, 9.6, 'desai', 'sumayya', 3, 1]

# Question 3: Experiment with atleast 5 default functions of dictionary

In [61]:
dic = {'name1':'sumayya','name2':'naveen','name3':'yashodhara'}

In [64]:
dic['name2']

'naveen'

In [65]:
dic['name3']

'yashodhara'

In [66]:
dic['name1']

'sumayya'

In [67]:
ditperson = {'name':'sumayya','age':20,'address':'banglore'}

In [68]:
ditperson.get('address')

'banglore'

In [69]:
ditperson.pop('age')

20

In [70]:
ditperson

{'name': 'sumayya', 'address': 'banglore'}

In [71]:
ditperson.keys()

dict_keys(['name', 'address'])

In [72]:
ditperson.items()

dict_items([('name', 'sumayya'), ('address', 'banglore')])

In [107]:
ditperson.update(x=3,y=9)

In [108]:
ditperson.update(age=20,family=5)

In [109]:
ditperson

{'name': 'sumayya',
 'address': 'banglore',
 'x': 3,
 'y': 9,
 'age': 20,
 'family': 5}